<div #cadContainer></div>
<div class="menu left">
	<button mat-raised-button color="primary" (click)="flip(true, false)">垂直翻转</button>
	<button mat-raised-button color="primary" (click)="flip(false, true)">水平翻转</button>
	<button mat-raised-button color="primary" (click)="flip(false, true)">中心对称</button>
	<button mat-raised-button color="primary" (click)="rotate(true)">顺时针旋转</button>
	<button mat-raised-button color="primary" (click)="rotate(false)">逆时针旋转</button>
	<input matInput type="number" [(ngModel)]="rotateAngle" />
	<button mat-raised-button color="primary" (click)="rotate()">旋转</button>
	<button mat-raised-button color="primary" (click)="toggleDimensions()">{{ drawDimensions ? "隐藏" : "显示" }}标注</button>
	<button mat-raised-button color="primary" (click)="drawMTexts = !drawMTexts">{{ drawMTexts ? "隐藏" : "显示" }}MTexts</button>
	<button mat-raised-button color="accent" *ngIf="cad.data.components.data.length > 1" (click)="submitAll()">修改全部</button>
</div>
<div class="menu right">
	<mat-accordion multi>
		<app-cad-subcad #subcad [menu]="menu"></app-cad-subcad>
		<app-cad-info #cadInfo [menu]="menu"></app-cad-info>
		<app-cad-line #cadLine [menu]="menu"></app-cad-line>
		<app-cad-dimension #cadDimension [menu]="menu"></app-cad-dimension>
	</mat-accordion>
</div>
<div class="menu top" *ngIf="showTopMenu" @topMenuTrigger>
	<button mat-raised-button [color]="menu.viewMode === 'normal' ? 'accent' : 'primary'" (click)="setViewMode('normal')">普通</button>
	<button
		mat-raised-button
		[color]="menu.viewMode === 'partners' ? 'accent' : 'primary'"
		[disabled]="menu.cadIdx === -1"
		(click)="setViewMode('partners')"
	>
		关联
	</button>
	<button
		mat-raised-button
		[color]="menu.viewMode === 'components' ? 'accent' : 'primary'"
		[disabled]="true || menu.cadIdx === -1"
		(click)="setViewMode('components')"
	>
		装配
	</button>
</div>

<app-line-indicator [menu]="menu" [cadInfo]="cadInfo" [cadLine]="cadLine"></app-line-indicator>
