<div #cadContainer></div>
<div class="menu left">
	<button mat-raised-button color="primary" (click)="flip(true, false)">垂直翻转</button>
	<button mat-raised-button color="primary" (click)="flip(false, true)">水平翻转</button>
	<button mat-raised-button color="primary" (click)="flip(true, true)">中心对称</button>
	<button mat-raised-button color="primary" (click)="rotate(true)">顺时针旋转</button>
	<button mat-raised-button color="primary" (click)="rotate(false)">逆时针旋转</button>
	<input matInput type="number" [(ngModel)]="rotateAngle" />
	<button mat-raised-button color="primary" (click)="rotate()">旋转</button>
	<button mat-raised-button color="primary" (click)="menu.toggleDimensions()">{{ menu.drawDimensions ? "隐藏" : "显示" }}标注</button>
	<button mat-raised-button color="primary" (click)="menu.toggleMtexts()">{{ menu.drawMTexts ? "隐藏" : "显示" }}MTexts</button>
	<button mat-raised-button color="primary" (click)="menu.toggleShowGongshi()">{{ menu.showGongshi ? "隐藏" : "显示" }}公式</button>
	<button mat-raised-button color="primary" (click)="menu.toggleSelectMode()">{{ menu.selectMode }}</button>
	<button mat-raised-button color="primary" (click)="menu.toggleEntitiesDraggable()">
		选中实体{{ menu.entitiesDraggable ? "可" : "不可" }}拖动
	</button>
	<button mat-raised-button color="accent" (click)="submitAll()">修改全部</button>
</div>
<div class="menu right" cdkScrollable>
	<div class="tooltip-container">
		<mat-icon matTooltipPosition="left" [matTooltip]="tooltipText" matTooltipClass="tooltip">help</mat-icon>
	</div>
	<mat-accordion multi>
		<app-cad-subcad #subcad [menu]="menu" [hidden]="isMenuHidden('subcad')"></app-cad-subcad>
		<app-cad-info2 #cadInfo [menu]="menu" [hidden]="isMenuHidden('cadInfo')"></app-cad-info2>
		<app-cad-line #cadLine [menu]="menu" [hidden]="isMenuHidden('cadLine')"></app-cad-line>
		<app-cad-mtext #cadMtext [menu]="menu" [hidden]="isMenuHidden('cadMtext')"></app-cad-mtext>
		<app-cad-assemble #cadAssemble [menu]="menu" [hidden]="isMenuHidden('cadAssemble')"></app-cad-assemble>
		<app-cad-dimension #cadDimension [menu]="menu" [hidden]="isMenuHidden('cadDimension')"></app-cad-dimension>
	</mat-accordion>
</div>
<div class="menu top" *ngIf="showTopMenu" @topMenuTrigger>
	<button mat-raised-button [color]="menu.viewMode === 'normal' ? 'accent' : 'primary'" (click)="setViewMode('normal')">普通</button>
	<button
		mat-raised-button
		[color]="menu.viewMode === 'partners' ? 'accent' : 'primary'"
		[disabled]="menu.cadIdx === -1"
		(click)="setViewMode('partners')"
	>
		关联
	</button>
	<button
		mat-raised-button
		[color]="menu.viewMode === 'components' ? 'accent' : 'primary'"
		[disabled]="menu.cadIdx === -1"
		(click)="setViewMode('components')"
	>
		装配
	</button>
	<button
		mat-raised-button
		[color]="menu.viewMode === 'slice' ? 'accent' : 'primary'"
		[disabled]="menu.cadIdx === -1"
		(click)="setViewMode('slice')"
	>
		选取
	</button>
</div>

<app-line-indicator [menu]="menu" [cadInfo]="cadInfo" [cadLine]="cadLine"></app-line-indicator>
