<div #cadContainer></div>
<div class="menu left">
	<button mat-raised-button color="primary" (click)="flip(true, false)">垂直翻转</button>
	<button mat-raised-button color="primary" (click)="flip(false, true)">水平翻转</button>
	<button mat-raised-button color="primary" (click)="flip(false, true)">中心对称</button>
	<button mat-raised-button color="primary" (click)="rotate(true)">顺时针旋转</button>
	<button mat-raised-button color="primary" (click)="rotate(false)">逆时针旋转</button>
	<input matInput type="number" [(ngModel)]="rotateAngle" />
	<button mat-raised-button color="primary" (click)="rotate()">旋转</button>
	<button mat-raised-button color="primary" (click)="drawDimensions = !drawDimensions">{{ drawDimensions ? "隐藏" : "显示" }}标注</button>
	<button mat-raised-button color="primary" (click)="drawMTexts = !drawMTexts">{{ drawMTexts ? "隐藏" : "显示" }}MTexts</button>
	<button mat-raised-button color="accent" *ngIf="cad.data.components.data.length > 1" (click)="submitAll()">修改全部</button>
</div>
<div class="menu right">
	<mat-accordion multi>
		<app-cad-info #cadInfo [menu]="menu"></app-cad-info>
		<app-cad-line #cadLine [cadInfo]="cadInfo" [menu]="menu"></app-cad-line>
	</mat-accordion>
</div>

<app-line-indicator [menu]="menu" [cadInfo]="cadInfo" [cadLine]="cadLine"></app-line-indicator>
