.menu {
	z-index: 10;
	position: absolute;
	left: 0;
	top: 0;
	background-color: rgba(255, 255, 255, 0.9);
	box-shadow: 0 0 5px 5px rgba(255, 255, 255, 0.4);

	&.top {
		width: 100vw;
		transform: translate(0, 0);
		border-radius: 0;
		padding: 0 10px;
	}

	$offsetTop: 40px;
	&.left {
		transform: translate(0, 0);
		top: $offsetTop;
		height: calc(100vh - #{$offsetTop});
		width: 300px;
	}
}
