<div #cadContainer></div>
<div class="menu2 top">
	<app-toolbar [cad]="cad" [currCads]="currCads" (openCad)="afterOpenCad($event)"></app-toolbar>
</div>
<div class="menu2 left">
	<app-sub-cads [cad]="cad" [currCads]="currCads" [cadStatus]="cadStatus"></app-sub-cads>
</div>
<div class="menu2 right">
	<mat-accordion multi>
		<mat-expansion-panel expanded>
			<mat-expansion-panel-header>
				<mat-panel-title>CAD信息</mat-panel-title>
			</mat-expansion-panel-header>
			<app-cad-info [cad]="cad" [currCads]="currCads" [cadStatus]="cadStatus"></app-cad-info>
		</mat-expansion-panel>
	</mat-accordion>
</div>
<div class="menu2 bottom" [class.accent]="cadStatus.name !== 'normal'">当前状态：{{ cadStatusStr }}</div>
