$offset-top: 40px;
.right {
    top: $offset-top;
    height: calc(100vh - #{$offset-top});
    width: 200px;
    padding: 10px;
    flex-direction: column;
    overflow: auto;
    right: 0;
}