<div #cadContainer></div>
<div class="menu left">
	<button mat-raised-button color="primary" (click)="selectLines()">确定</button>
	<button mat-raised-button color="primary" (click)="cad.unselectAll()">全不选</button>
	<button mat-raised-button color="primary" (click)="resetData()">还原数据</button>
	<button mat-raised-button color="primary" (click)="cad.scale = cad.scale + 0.1">放大</button>
	<button mat-raised-button color="primary" (click)="cad.scale = cad.scale - 0.1">缩小</button>
	<button mat-raised-button color="accent" (click)="back()" *ngIf="fromEdit">确定并返回</button>
</div>
<div class="menu right">
	<div class="tooltip-container">
		<mat-icon matTooltipPosition="left" [matTooltip]="tooltipText" matTooltipClass="tooltip">help</mat-icon>
	</div>
	<!-- <div class="btn-group" *ngIf="checkedCads.length > 0">
		<button mat-raised-button color="primary" (click)="assenbleCads()">组合</button>
		<button mat-raised-button color="primary" (click)="removeCads()">删除</button>
	</div> -->
	<div class="checkbox-group">
		<div class="data-container" *ngFor="let item of cads; let i = index">
			<!-- <mat-checkbox class="example-margin" [(ngModel)]="item.checked">{{ item.data.name }}</mat-checkbox> -->
			<mat-form-field>
				<mat-label>名字</mat-label>
				<input matInput type="text" [(ngModel)]="item.data.name" placeholder="请输入名字" />
			</mat-form-field>
			<mat-form-field>
				<mat-label>展开宽</mat-label>
				<input matInput type="text" [(ngModel)]="item.data.zhankaikuan" placeholder="请输入展开宽" />
			</mat-form-field>
			<mat-form-field>
				<mat-label>展开高</mat-label>
				<input matInput type="text" [(ngModel)]="item.data.zhankaigao" placeholder="请输入展开高" />
			</mat-form-field>
			<mat-form-field>
				<mat-label>数量</mat-label>
				<input matInput type="text" [(ngModel)]="item.data.shuliang" placeholder="请输入数量" />
			</mat-form-field>
			<mat-form-field>
				<mat-label>花件</mat-label>
				<input matInput type="text" [(ngModel)]="item.data.huajian" placeholder="请输入花件" />
				<button matSuffix mat-raised-button color="primary" (click)="selectOptions(i)">选择</button>
			</mat-form-field>
			<img [src]="item.src" (click)="item.checked = !item.checked" />
			<div class="btn-group">
				<button mat-raised-button color="primary" (click)="editCad(i)" *ngIf="!fromEdit">查看</button>
				<button mat-raised-button color="primary" (click)="removeCad(i)">删除</button>
			</div>
		</div>
	</div>
</div>
