@import "../../../styles.scss";

.cad-fragment-container {
	@include flex-center;
	flex-direction: column;
	.cad-viewer {
		margin-bottom: 10px;
	}
}

.btn-group {
	display: flex;
	justify-content: space-around;
	width: 100%;
	margin-top: 5px;
}

.tooltip-container {
	width: 100%;
	text-align: right;
    padding: 0 10px;
    box-sizing: border-box;
    color: #444444;
}
