<div #cadContainer></div>
<div class="menu left">
	<button mat-raised-button color="primary" (click)="selectLines()">确定</button>
	<button mat-raised-button color="primary" (click)="resetData()">还原数据</button>
	<button mat-raised-button color="primary" (click)="cad.scale = cad.scale + 0.1">放大</button>
	<button mat-raised-button color="primary" (click)="cad.scale = cad.scale - 0.1">缩小</button>
</div>
<div class="menu right">
	<div class="tooltip-container">
		<mat-icon matTooltipPosition="left" [matTooltip]="tooltipText" matTooltipClass="tooltip">help</mat-icon>
	</div>
	<div class="cad-fragment-container" *ngFor="let cad of cads; let i = index">
		<img [src]="cad.src" alt="" />
		<div class="btn-group">
			<button mat-raised-button color="primary" (click)="editCad(i)">查看</button>
			<button mat-raised-button color="primary" (click)="removeCad(i)">删除</button>
		</div>
	</div>
</div>
