.cad-fragment-container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	.cad-viewer {
		margin-bottom: 10px;
	}
}

.btn-group {
	display: flex;
	justify-content: space-around;
	width: 100%;
	margin-top: 5px;

	img {
		cursor: pointer;
	}
}

.checkbox-group {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}

.data-container {
	display: flex;
	flex-direction: column;
	text-align: center;
	padding: 12px;
	box-sizing: border-box;
	width: 100%;

	img {
		object-fit: scale-down;
		cursor: pointer;
	}
}

.tooltip-container {
	width: 100%;
	text-align: right;
    padding: 0 10px;
    box-sizing: border-box;
    color: #444444;
}

.options {
	mat-form-field {
		&:nth-of-type(1) {
			width: calc(100% - 200px);
		}
		&:nth-of-type(2) {
			width: calc(100% - 140px);
		}
	}
}