@import "../../styles.scss";

.menu.right {
	width: 336px;
	padding: 10px;

	.cad-info,
	.line-info,
	.dimension-info {
		mat-form-field {
			width: calc(100% - 42px);
			margin-left: 10px;

			input {
				@include font();
			}

			mat-icon {
				cursor: pointer;
				font-size: 1.5rem;
				width: 1.5rem;
			}

			mat-hint {
				font-size: 1rem;
			}

			mat-select {
				@include font();
			}
		}

		label {
			line-height: 1.5rem;
			font-size: 1rem;
		}

		&.options {
			mat-form-field {
				width: calc(100% - 170px);
			}
		}

		&.joint-points,
		&.baselines {
			button {
				width: 74px;
			}

			mat-form-field {
				width: calc(100% - 84px);
				margin-bottom: 10px;
			}
		}

		&.dimension-info {
			mat-form-field {
				width: calc(100% - 74px);
				margin-bottom: 10px;
			}

			mat-hint {
				button {
					min-width: unset;
					width: 40px;
					height: 24px;
					font-size: 0.8rem;
					line-height: 24px;
					margin: 0 5px;
					padding: 0;
				}
			}
		}
	}
}

.line-controller {
	$point-size: 20px;
	.point {
		position: absolute;
		width: $point-size;
		height: $point-size;
		border-radius: 20px;
		background-color: white;
		cursor: pointer;
		transform: translate(-50%, -50%);
		user-select: none;
		top: -$point-size;
		left: -$point-size;

		&.start-point,
		&.end-point {
			&:hover {
				opacity: 0.9;
				background-color: rgb(53, 53, 53);
			}
		}

		$selected-color: rgb(0, 0, 255);
		&.joint-point {
			animation: point 2.2s linear infinite;
			&:hover {
				opacity: 0.9;
				background-color: $selected-color;
			}
			&.selected {
				background-color: $selected-color;
				animation: unset;
			}
		}

		@keyframes point {
			0% {
				transform: translate(-50%, -50%) scale(1);
			}
			50% {
				transform: translate(-50%, -50%) scale(1.2);
			}
			100% {
				transform: translate(-50%, -50%) scale(1);
			}
		}
	}

	input {
		position: absolute;
	}
}

.mat-select-value {
	color: unset !important;
}
