<ng-container *ngIf="vCad">
	<div #cadContainer></div>
	<div class="menu left">
		<button mat-raised-button color="primary" (click)="flip(true, false)">垂直翻转</button>
		<button mat-raised-button color="primary" (click)="flip(false, true)">水平翻转</button>
		<button mat-raised-button color="primary" (click)="flip(false, true)">中心对称</button>
		<button mat-raised-button color="primary" (click)="rotate(true)">顺时针旋转</button>
		<button mat-raised-button color="primary" (click)="rotate(false)">逆时针旋转</button>
		<input matInput type="number" [(ngModel)]="rotateAngle" />
		<button mat-raised-button color="primary" (click)="rotate()">旋转</button>
	</div>
	<div class="menu right">
		<mat-accordion multi>
			<mat-expansion-panel expanded>
				<mat-expansion-panel-header>
					<mat-panel-title>CAD信息</mat-panel-title>
				</mat-expansion-panel-header>
				<div class="cad-info name">
					<label>名字</label>
					<mat-form-field>
						<mat-label></mat-label>
						<input matInput type="text" [(ngModel)]="cad?.data.name" placeholder="请输入名字" />
					</mat-form-field>
				</div>
				<div class="cad-info type">
					<label>分类</label>
					<mat-form-field>
						<mat-label></mat-label>
						<input matInput type="text" [(ngModel)]="cad?.data.type" placeholder="请输入分类" />
					</mat-form-field>
				</div>
				<div class="cad-info options" *ngFor="let o of cad?.data.options; let i = index">
					<label>{{ i === 0 ? "选项" : "" }}</label>
					<mat-form-field [style]="i === 0 ? '' : 'margin-left:42px;'">
						<mat-label></mat-label>
						<input matInput type="text" [(ngModel)]="o.name" placeholder="选项" />
					</mat-form-field>
					<mat-form-field>
						<mat-label></mat-label>
						<input matInput type="text" [(ngModel)]="o.value" placeholder="选项" />
						<mat-icon matSuffix color="primary" (click)="addItem(i, 'options', {name: '', value: ''})">add_circle</mat-icon>
						<mat-icon matSuffix color="primary" (click)="removeItem(i, 'options', {name: '', value: ''})"
							>remove_circle</mat-icon
						>
					</mat-form-field>
				</div>
				<div class="cad-info conditions" *ngFor="let c of cad?.data.conditions; let i = index">
					<label>{{ i === 0 ? "条件" : "" }}</label>
					<mat-form-field [style]="i === 0 ? '' : 'margin-left:42px;'">
						<mat-label></mat-label>
						<input matInput type="text" [(ngModel)]="(cad?.data.conditions)[i]" placeholder="条件" />
						<mat-icon matSuffix color="primary" (click)="addItem(i, 'conditions', '')">add_circle</mat-icon>
						<mat-icon matSuffix color="primary" (click)="removeItem(i, 'conditions', '')">remove_circle</mat-icon>
					</mat-form-field>
				</div>
				<div class="cad-info baselines" *ngFor="let b of cad?.data.baseLines; let i = index">
					<button
						mat-raised-button
						[color]="status.mode.type === 'baseLine' && status.mode.index === i ? 'accent' : 'primary'"
						(click)="selectBaseline(i)"
					>
						基准
					</button>
					<mat-form-field>
						<mat-label></mat-label>
						<input matInput type="text" [(ngModel)]="b.name" placeholder="请输入名字" />
						<mat-icon matSuffix color="primary" (click)="addItem(i, 'baseLines', {name: '', idX: '', idY: ''})"
							>add_circle</mat-icon
						>
						<mat-icon matSuffix color="primary" (click)="removeItem(i, 'baseLines', {name: '', idX: '', idY: ''})"
							>remove_circle</mat-icon
						>
						<mat-hint [align]="'start'">x:{{ b.valueX?.toFixed(2) }}, y:{{ b.valueY?.toFixed(2) }}</mat-hint>
					</mat-form-field>
				</div>
				<div class="cad-info joint-points" *ngFor="let j of cad?.data.jointPoints; let i = index">
					<button
						mat-raised-button
						[color]="status.mode.type === 'jointPoint' && status.mode.index === i ? 'accent' : 'primary'"
						(click)="selectJointPoint(i)"
					>
						连接点
					</button>
					<mat-form-field>
						<mat-label></mat-label>
						<input matInput type="text" [(ngModel)]="j.name" placeholder="请输入名字" />
						<mat-icon matSuffix color="primary" (click)="addItem(i, 'jointPoints', {name: ''})"
							>add_circle</mat-icon
						>
						<mat-icon matSuffix color="primary" (click)="removeItem(i, 'jointPoints', {name: ''})"
							>remove_circle</mat-icon
						>
						<mat-hint [align]="'start'">x:{{ j.valueX?.toFixed(2) }}, y:{{ j.valueY?.toFixed(2) }}</mat-hint>
					</mat-form-field>
				</div>
				<button mat-raised-button color="accent" [disabled]="!cad" (click)="submit()">确定修改</button>
			</mat-expansion-panel>
			<mat-expansion-panel expanded>
				<mat-expansion-panel-header>
					<mat-panel-title>线段信息</mat-panel-title>
				</mat-expansion-panel-header>
				<div class="line-info length">
					<label>长度</label>
					<mat-form-field>
						<mat-label></mat-label>
						<input
							matInput
							type="number"
							(change)="setEntityLength($event)"
							[ngModel]="getEntityLength()"
							placeholder="请输入长度"
							[disabled]="!status.entity?.id"
						/>
					</mat-form-field>
				</div>
				<div class="line-info color">
					<label>颜色</label>
					<mat-form-field>
						<mat-label></mat-label>
						<mat-select
							[ngModel]="getCssColor()"
							[style]="{color: getCssColor(getCssColor()), backgroundColor: getCssColor()}"
							(selectionChange)="setEntityColor($event)"
							[disabled]="!status.entity?.id"
						>
							<mat-option
								*ngFor="let color of selectableColors"
								[value]="color"
								[style]="{color: getCssColor(color), backgroundColor: color}"
							>
								{{ color }}
							</mat-option>
						</mat-select>
					</mat-form-field>
				</div>
				<div class="line-info mingzi">
					<label>名字</label>
					<mat-form-field>
						<mat-label></mat-label>
						<input
							matInput
							type="text"
							(change)="setEntityText($event, 'mingzi')"
							[ngModel]="status.entity?.mingzi"
							placeholder="请输入名字"
							[disabled]="!status.entity?.id"
						/>
					</mat-form-field>
				</div>
				<div class="line-info qujian">
					<label>区间</label>
					<mat-form-field>
						<mat-label></mat-label>
						<input
							matInput
							type="text"
							(change)="setEntityText($event, 'qujian')"
							[ngModel]="status.entity?.qujian"
							placeholder="请输入区间"
							[disabled]="!status.entity?.id"
						/>
					</mat-form-field>
				</div>
				<div class="line-info gongshi">
					<label>公式</label>
					<mat-form-field>
						<mat-label></mat-label>
						<input
							matInput
							type="text"
							(change)="setEntityText($event, 'qujigongshian')"
							[ngModel]="status.entity?.gongshi || ''"
							placeholder="请输入公式"
							[disabled]="!status.entity?.id"
						/>
					</mat-form-field>
				</div>
				<button mat-raised-button color="accent" [disabled]="!cad" (click)="submit()">确定修改</button>
			</mat-expansion-panel>
			<mat-expansion-panel expanded *ngIf="partners.length">
				<mat-expansion-panel-header>
					<mat-panel-title>关联CAD</mat-panel-title>
				</mat-expansion-panel-header>
				<div class="cad-image" *ngFor="let p of partners">
					<span class="title">{{ p.name }}</span>
					<img [src]="p.img" (click)="editPartner(p.id)" />
				</div>
			</mat-expansion-panel>
			<mat-expansion-panel expanded>
				<mat-expansion-panel-header>
					<mat-panel-title>标注信息</mat-panel-title>
				</mat-expansion-panel-header>
				<div class="dimension-info" *ngFor="let d of cad?.data.dimensions; let i = index">
					<button mat-raised-button color="primary" (click)="editDimension(i)">标注</button>
					<mat-form-field>
						<mat-label></mat-label>
						<input disabled matInput type="text" [ngModel]="d.qujian || d.mingzi || ''" placeholder="标注内容" />
						<mat-icon matSuffix color="primary" (click)="addDimension(i)">add_circle</mat-icon>
						<mat-icon matSuffix color="primary" (click)="removeDimension(i)">remove_circle</mat-icon>
						<mat-hint [align]="'start'">
							<button
								mat-raised-button
								[color]="status.mode.type === 'dimension1' && status.mode.index === i ? 'accent' : 'primary'"
								(click)="selectDimLine(i, 1)"
							>
								线1
							</button>
							<button
								mat-raised-button
								[color]="status.mode.type === 'dimension2' && status.mode.index === i ? 'accent' : 'primary'"
								(click)="selectDimLine(i, 2)"
							>
								线2
							</button>
						</mat-hint>
					</mat-form-field>
				</div>
			</mat-expansion-panel>
		</mat-accordion>
	</div>

	<div class="line-controller">
		<ng-container *ngIf="status.mode.type === 'normal' && status.entity">
			<div class="point start-point" [style.left.px]="status.line.start.x" [style.top.px]="status.line.start.y"></div>
			<div class="point end-point" [style.left.px]="status.line.end.x" [style.top.px]="status.line.end.y"></div>
		</ng-container>
		<div class="joint-points" *ngIf="status.mode.type === 'jointPoint'">
			<div
				*ngFor="let p of pointsMap; let i = index"
				class="point joint-point"
				[class.selected]="p.selected"
				[style.left.px]="p.tPoint.x"
				[style.top.px]="p.tPoint.y"
				(click)="onJointPointClick(i)"
			></div>
		</div>
	</div>
</ng-container>
