<mat-expansion-panel expanded *ngIf="data">
	<mat-expansion-panel-header>
		<mat-panel-title>CAD信息(总长: {{ menu.cadLength }})</mat-panel-title>
	</mat-expansion-panel-header>
	<form>
		<button [hidden]="true"></button>
		<div class="form-item name">
			<label>名字</label>
			<mat-form-field>
				<mat-label></mat-label>
				<input matInput type="text" [(ngModel)]="data.name" placeholder="请输入名字" name="name" />
			</mat-form-field>
		</div>
		<div class="form-item type">
			<label>分类</label>
			<mat-form-field>
				<mat-label></mat-label>
				<input matInput type="text" [(ngModel)]="data.type" placeholder="请输入分类" name="type" />
			</mat-form-field>
		</div>
		<div class="form-item options" *ngFor="let o of data.options; let i = index">
			<label>{{ i === 0 ? "选项" : "" }}</label>
			<mat-form-field [style]="i === 0 ? '' : 'margin-left:42px;'">
				<mat-label></mat-label>
				<input matInput type="text" [(ngModel)]="o.name" placeholder="选项" name="optionKey" />
			</mat-form-field>
			<mat-form-field>
				<mat-label></mat-label>
				<input matInput type="text" [(ngModel)]="o.value" placeholder="选项" name="optionValue" />
				<mat-icon matSuffix color="primary" (click)="selectOptions(o)">list</mat-icon>
				<mat-icon matSuffix color="primary" (click)="menu.addOption(i)">add_circle</mat-icon>
				<mat-icon matSuffix color="primary" (click)="menu.removeOption(i)">remove_circle</mat-icon>
			</mat-form-field>
		</div>
		<div class="form-item conditions" *ngFor="let c of data.conditions; let i = index">
			<label>{{ i === 0 ? "条件" : "" }}</label>
			<mat-form-field [style]="i === 0 ? '' : 'margin-left:42px;'">
				<mat-label></mat-label>
				<input
					matInput
					type="text"
					[ngModel]="c"
					(change)="data.conditions[i] = $event.target.value"
					placeholder="条件"
					name="condition"
				/>
				<mat-icon matSuffix color="primary" (click)="menu.addCondition(i)">add_circle</mat-icon>
				<mat-icon matSuffix color="primary" (click)="menu.removeCondition(i)">remove_circle</mat-icon>
			</mat-form-field>
		</div>
		<div class="form-item baselines" *ngFor="let b of data.baseLines; let i = index">
			<button
				type="button"
				mat-raised-button
				[color]="menu.mode.type === 'baseLine' && menu.mode.index === i ? 'accent' : 'primary'"
				(click)="selectBaseline(i)"
			>
				&nbsp;基准&nbsp;
			</button>
			<mat-form-field>
				<mat-label></mat-label>
				<input matInput type="text" [(ngModel)]="b.name" placeholder="请输入名字" name="baselineName" />
				<mat-icon matSuffix color="primary" (click)="menu.addBaseLine(i)">add_circle</mat-icon>
				<mat-icon matSuffix color="primary" (click)="menu.removeBaseLine(i)">remove_circle</mat-icon>
				<mat-hint [align]="'start'">x:{{ b.valueX?.toFixed(2) }}, y:{{ b.valueY?.toFixed(2) }}</mat-hint>
			</mat-form-field>
		</div>
		<div class="form-item joint-points" *ngFor="let j of data.jointPoints; let i = index">
			<button
				type="button"
				mat-raised-button
				[color]="menu.mode.type === 'jointPoint' && menu.mode.index === i ? 'accent' : 'primary'"
				(click)="selectJointPoint(i)"
			>
				连接点
			</button>
			<mat-form-field>
				<mat-label></mat-label>
				<input matInput type="text" [(ngModel)]="j.name" placeholder="请输入名字" name="jointPointName" />
				<mat-icon matSuffix color="primary" (click)="menu.addJointPoint(i)">add_circle</mat-icon>
				<mat-icon matSuffix color="primary" (click)="menu.removeJointPoint(i)">remove_circle</mat-icon>
				<mat-hint [align]="'start'">x:{{ j.valueX?.toFixed(2) }}, y:{{ j.valueY?.toFixed(2) }}</mat-hint>
			</mat-form-field>
		</div>
		<div class="form-item zhankaikuan">
			<label>展开宽</label>
			<mat-form-field>
				<mat-label></mat-label>
				<input matInput type="text" [matAutocomplete]="auto" [(ngModel)]="data.zhankaikuan" placeholder="展开宽" name="zhankaikuan" />
				<mat-autocomplete #auto="matAutocomplete">
					<mat-option *ngFor="let str of sampleFormulas" [value]="str">
						{{ str }}
					</mat-option>
				</mat-autocomplete>
			</mat-form-field>
		</div>
		<div class="form-item zhankaigao">
			<label>展开高</label>
			<mat-form-field>
				<mat-label></mat-label>
				<input matInput type="text" [(ngModel)]="data.zhankaigao" placeholder="请输入展开高" name="zhankaigao" />
			</mat-form-field>
		</div>
		<div class="form-item shuliang">
			<label>数量</label>
			<mat-form-field>
				<mat-label></mat-label>
				<input matInput type="text" [(ngModel)]="data.shuliang" placeholder="请输入数量" name="shuliang" />
			</mat-form-field>
		</div>
		<div class="form-item shuliang">
			<label>数量倍数</label>
			<mat-form-field>
				<mat-label></mat-label>
				<input matInput type="text" [(ngModel)]="data.shuliangbeishu" placeholder="请输入数量倍数" name="shuliangbeishu" />
			</mat-form-field>
		</div>
		<div class="form-item huajian">
			<label>花件</label>
			<mat-form-field>
				<mat-label></mat-label>
				<mat-icon matSuffix color="primary" (click)="selectOptions('huajian')">list</mat-icon>
				<input matInput type="text" [(ngModel)]="data.huajian" placeholder="请输入花件" name="huajian" />
			</mat-form-field>
		</div>
		<div class="btn-group">
			<button mat-raised-button color="accent" (click)="menu.submit()">确定修改</button>
			<button mat-raised-button color="primary" (click)="replaceData()">替换数据</button>
		</div>
	</form>
</mat-expansion-panel>
<mat-expansion-panel *ngIf="!data">
	<mat-expansion-panel-header>
		<mat-panel-title>CAD信息</mat-panel-title>
	</mat-expansion-panel-header>
	<div>未选择CAD</div>
</mat-expansion-panel>
