<ng-container *ngIf="cad">
	<div #cadContainer></div>
	<div class="menu left">
		<button mat-raised-button color="primary" (click)="toggleAssemble($event)">开始装配</button>
		<button mat-raised-button color="primary" (click)="cad.center()">居中</button>
		<button mat-raised-button color="primary" (click)="flip(true, false)">垂直翻转</button>
		<button mat-raised-button color="primary" (click)="flip(false, true)">水平翻转</button>
		<button mat-raised-button color="primary" (click)="flip(false, true)">中心对称</button>
		<button mat-raised-button color="primary" (click)="rotate(true)">顺时针旋转</button>
		<button mat-raised-button color="primary" (click)="rotate(false)">逆时针旋转</button>
		<input matInput type="number" [(ngModel)]="rotateAngle" />
		<button mat-raised-button color="primary" (click)="rotate()">旋转</button>
		<button mat-raised-button color="primary" (click)="cloneComponent()">复制</button>
		<button mat-raised-button color="primary" (click)="submit()">确定</button>
	</div>
	<div class="menu right">
		<mat-accordion multi>
			<mat-expansion-panel expanded>
				<mat-expansion-panel-header>
					<mat-panel-title>选项</mat-panel-title>
				</mat-expansion-panel-header>
				<div class="option">
					<label>距离</label>
					<mat-form-field>
						<mat-label></mat-label>
						<input matInput type="text" [(ngModel)]="options.space" placeholder="请输入距离" />
					</mat-form-field>
				</div>
				<div class="option">
					<label>定位</label>
					<mat-form-field>
						<mat-label></mat-label>
						<mat-select [(ngModel)]="options.position">
							<mat-option value="absolute">绝对定位</mat-option>
							<mat-option value="relative">相对定位</mat-option>
						</mat-select>
					</mat-form-field>
				</div>
			</mat-expansion-panel>
			<mat-expansion-panel expanded>
				<mat-expansion-panel-header>
					<mat-panel-title>配合</mat-panel-title>
				</mat-expansion-panel-header>
				<div class="connection" *ngFor="let c of cad.data.components?.connections; let i = index">
					<p>名字: {{ c.names[0] }} &harr; {{ c.names[1] }}</p>
					<p>方向: {{ c.axis }}</p>
					<p>距离: {{ c.space || 0 }}</p>
					<p>定位: {{ c.position === "relative" ? "相对定位" : "绝对定位" }}</p>
					<button mat-raised-button color="primary" (click)="deleteConnection(i)">删除</button>
				</div>
			</mat-expansion-panel>
			<mat-expansion-panel expanded>
				<mat-expansion-panel-header>
					<mat-panel-title>零件CAD</mat-panel-title>
				</mat-expansion-panel-header>
				<div class="cad-image" *ngFor="let d of components; let i = index" [class.active]="d.name === status.activeComponent">
					<div class="title">{{ d.name }}</div>
					<img [src]="d.img" (click)="selectComponent(i)" />
				</div>
			</mat-expansion-panel>
			<mat-expansion-panel expanded>
				<mat-expansion-panel-header>
					<mat-panel-title>标注信息</mat-panel-title>
				</mat-expansion-panel-header>
				<div class="dimension-info" *ngFor="let d of cad?.data.dimensions; let i = index">
					<button mat-raised-button color="primary" (click)="editDimension(i)">标注</button>
					<mat-form-field>
						<mat-label></mat-label>
						<input disabled matInput type="text" [ngModel]="d.qujian || d.mingzi || ''" placeholder="标注内容" />
						<mat-icon matSuffix color="primary" (click)="addItem(i, 'dimensions')">add_circle</mat-icon>
						<mat-icon matSuffix color="primary" (click)="removeItem(i, 'dimensions'); cad.render()">remove_circle</mat-icon>
						<mat-hint [align]="'start'">
							<button
								mat-raised-button
								[color]="status.mode.type === 'dimension1' && status.mode.index === i ? 'accent' : 'primary'"
								(click)="selectDimLine(i, 1)"
							>
								线1
							</button>
							<button
								mat-raised-button
								[color]="status.mode.type === 'dimension2' && status.mode.index === i ? 'accent' : 'primary'"
								(click)="selectDimLine(i, 2)"
							>
								线2
							</button>
						</mat-hint>
					</mat-form-field>
				</div>
			</mat-expansion-panel>
		</mat-accordion>
	</div>
</ng-container>
